<div *ngIf="submitted">
  <div class="alert alert-success" role="alert">
    Categoria foi
    <span *ngIf="acao === 'Nova'">
      salva
    </span>
    <span *ngIf="acao === 'Editar'">
      editada
    </span>
    com sucesso!
  </div>
</div>

<div class="card my-5">
  <div class="card-body">
    <h2> {{ acao }} Categoria </h2>
    <form>
      <div>
        <div class="submit-form">
          <div *ngIf="!submitted">

            <div class="form-group">
              <label for="nome">Nome: </label>
              <input type="text" class="form-control" id="nome" required [(ngModel)]="categoria.nome" maxlength="255"
                name="nome" aria-describedby="nomeHelp" placeholder="Entre com o nome da categoria">
              <small id="nomeHelp" class="form-text text-muted">Informe um nome para a categoria.</small>
            </div>

            <div class="form-group">
              <label for="descricao">Descrição: </label>
              <input type="text" class="form-control" id="descricao" required [(ngModel)]="categoria.descricao"
                maxlength="255" name="descricao" placeholder="Informe a descrição da categoria">
            </div>
            <button (click)="salvar()" class="btn btn-success">
              <span *ngIf="acao === 'Nova'">
                Salvar
              </span>
              <span *ngIf="acao === 'Editar'">
                Editar
              </span>
            </button>

            <button routerLink="/categoria" class="btn btn-warning">Cancelar</button>

            <span *ngIf="acao === 'Nova'">
              <button type="reset" class="btn btn-danger">Limpar</button>
            </span>

          </div>
        </div>
      </div>
      <div *ngIf="submitted">
        <button routerLink="/categoria" class="btn btn-info">Listar</button>
      </div>
    </form>
  </div>
</div>